header {
    background-color: #0A0A0A;
    text-align: center;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #F2F1EF;
    font-size: 18px;
    margin: 0 25px;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    background-color: #F2F1EF;
    color: #0A0A0A;
    font-style: normal;
    font-family: "Arvo", serif;
}

p {
    margin-bottom: 30px;
}

h1 {
    margin-top: 20px;
    font-size: 48px;
    line-height: 1.2;
}

.intro {
    max-width: 800px;
    margin: 80px auto;
    padding: 0 40px;
}

.intro h1 {
    font-size: 52px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.highlights {
    max-width: 800px;
    margin: 80px auto;
    padding: 0 40px;
}

.highlights h1 {
    font-size: 52px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 40px auto;
}

.NSCard img {
    width: 350px;
    border-radius: 8px;
    height: auto;
}

.NSCard {
    text-decoration: none;
    color: inherit;
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: block;
    text-align: center;
    transition: transform 0.2s;
    max-width: 400px;
}

.NSCard:hover {
    transform: scale(1.03);
}

.divider {
    width: 100%;
    max-width: 1000px;
    height: 2px;
    margin: 80px auto;
    background: linear-gradient(
        to right,
        transparent,
        #d6d2cc,
        transparent
    );
}